[2013-01-03 15:14] neonstalwart opened #3 "license?"
which license is this released under?

[2013-01-03 15:21] #3 closed, assigned to nobody

[2013-08-07 08:52] danjenkins opened #9 "fix readme example - where we call getJobs with a callback of res, example then uses jobs"

[2013-08-07 08:52] danjenkins opened #10 "Fix travis test - failing due to linting I think"

[2013-10-25 07:55] #10 closed, assigned to nobody

[2013-10-25 07:55] danjenkins opened #11 "Fix issues brought up by code climate"
https://codeclimate.com/github/holidayextras/node-saucelabs/issues

[2013-10-31 17:14] #9 closed, assigned to nobody

[2013-11-02 21:26] phated opened #13 "Add js_test endpoint"
JS tests can be run with their REST API.  Would be awesome to have that added in this library.

https://saucelabs.com/docs/rest#jsunit

[2014-03-29 08:39] SergioCrisostomo opened #15 "Examples on build pass/fail reporting"
Could you add some example of how to send back to sauce the pass/fail status so the [SauceLabs badge](https://saucelabs.com/docs/status-images) can be updated. I tried the CURL variant and it bugs, would be nice to be able to do it in Node instead.

I write this request after failing noobish on sending back to Sauce the build pass/fail info. Is `updateJob()` the way here? when to call it? I suppos

[2014-04-02 19:35] #15 closed, assigned to nobody

[2014-12-23 23:16] ScottWeinstein opened #16 "Would be great if this API support an HTTP proxy"
Would be great if this API support an HTTP proxy

[2015-04-28 11:48] nelsonic commented on #13
:+1: exactly what we need. @holidayextras team, would you accept a PR?

[2015-07-17 17:52] mekdev opened #18 "Request : Support for non-callback usage"
Hi guys,

I am liking this library a lot, it makes our tests a lot cleaner and streamlined. It would be great to have all saucelabs user use this as the standard library.

I am making a request since we are heavily taking advantage of the non-callback flow of mocha and paired with selenium-webdriver/testing lib.
http://selenium.googlecode.com/git/docs/api/javascript/module_selenium-webdriver_testi

[2015-07-20 19:14] danjenkins commented on #18
hi @mekdev , I'm not quite sure why you wouldn't ever want to know if the call to saucelabs succeeded or not?

[2015-09-08 22:10] k1ngdr3w commented on #16
HTTPS proxy support added in 1.0.0

[2015-10-24 14:46] danjenkins commented on #13
Hey all, Sorry I'm really not sure how I missed this. Opened 2 years ago?!

Is this still relevant? @phated @cvrebert @nelsonic

Thanks!

[2015-10-24 14:47] #16 closed

[2015-10-24 14:48] nelsonic commented on #13
@danjenkins I *absolutely* still have this requirement.

[2015-10-24 16:16] danjenkins commented on #13
OK, yes, absolutely the project would accept a PR if this is the right place for the code :) I'm lacking in time for the next month to be perfectly honest but if you'd like to do a PR I'd definitely look through it. I should have time to take a look in around a months time, sorry about the lack of any communication on here!

[2015-10-28 09:40] kartsims opened #22 "Need a SauceLab tool for CI"
Hi guys,

Our company is looking for a tool to run tests along with deployments. We are aiming to have a system that would run a serie of screenshots before deployment, and another one after deployment, and ultimately diff those images.

This is the ultimate goal, but we set a few steps along the way, as such :

1. Just get screenshots of the website after deployment
2.Get screenshots twice (befor

[2015-10-28 10:28] danjenkins commented on #22
Hi @kartsims , this is just a wrapper around the API and the really nice node modules do one job well and that's what I want for this module. I would 100% recommend building a new tool and including this as a dependency

If you've got any questions I'd be more than happy to answer any questions,

Dan

[2015-10-28 10:28] #22 closed

[2015-10-28 10:42] kartsims commented on #22
Cool, I'll definitely do that :)

[2015-10-28 20:11] theandrewlane commented on #22
I recently implemented something similar to this for my company's protractor automation. I used Jenkins CI, the [Jenkins Sauce Labs plugin] (https://wiki.jenkins-ci.org/display/JENKINS/Sauce+OnDemand+Plugin), Node, and the [blink-diff] (https://github.com/yahoo/blink-diff) node module.  I didn't create any UI because it wasn't necessary, but the screenshot comparison (of specific elements, or enti

[2015-10-29 08:28] kartsims commented on #22
Cool, do you have a repo I could look at for inspiration ?

I don't think we could use it as we deploy using Bamboo (which has a SL plugin too) and [Resemble.js](https://www.npmjs.com/package/resemble) library which looks pretty neat.

If you have any insight and/or code examples to feed me, the help would be greatly appreciated :)

Also, if you want to track our project, which will probably be op

[2015-12-03 10:24] danjenkins commented on #18
@mekdev if I don't hear back from you I'll close this issue in a couple of days

[2016-02-11 21:32] PhearZero opened #23 "DELETE Jobs"
Adding an issue here for pull request #24

[2016-02-12 09:52] danjenkins commented on #23
closed by #24

[2016-02-12 09:52] #23 closed

[2016-02-12 09:52] danjenkins opened #26 "Fix codeship tests"

[2016-02-12 09:53] danjenkins opened #27 "Fix travis CI build status image in readme"

[2016-02-12 19:53] PhearZero commented on #18
@mekdev @danjenkins Looks like the api supports callbacks and mocha allows callbacks with done. Here is a basic example

    describe('Mocha tests', function () {
        var SauceLabs = require('saucelabs');
        var sauce;

        beforeEach(function () {
            var config = {
                username: process.env.SAUCE_USERNAME,
                password: process.env.SAUCE_ACCESS_KEY

[2016-02-12 20:03] PhearZero opened #29 "Add getUserConcurrency to api"
REST API: users/:username/concurrency
The result shows real-time numbers for the parent account and all of its sub-accounts. There is also a "totals" section at the end which tallies the numbers across all accounts.

[2016-02-17 14:49] #29 closed

[2016-02-25 20:05] kennydrobnack opened #31 "SauceLabs module should provide RateLimit headers to downstream libraries"
As part of a project, I'm using SauceLabs to test some code. SauceLabs recently announced they are rate limiting the number of API calls to their services.

http://sauceio.com/index.php/2016/02/announcing-new-rest-api-usage-limits/

One thing we wanted to do was to monitor the usage of the API calls and throw a warning if we are coming close to hitting the limits. However the SauceLabs library onl

[2016-02-27 16:11] danjenkins commented on #31
We could add a third argument in the returned callback with the HTTP response which would include the code and headers etc? Then people could use any of that data? That would be easy to implement...

[2016-02-28 17:23] unindented commented on #31
@danjenkins Yup, that solution sounds reasonable.

[2016-03-03 21:10] danjenkins commented on #31
OK, feel free to send in a PR @kennydrobnack or I'll tackle this once I'm back from my honeymoon! :)

[2016-03-04 20:01] PhearZero commented on #31
@danjenkins Congratulations!

[2016-03-04 23:01] kennydrobnack commented on #31
Congrats @danjenkins! I've actually been pulled into another project at work and found that we're a ways off from hitting our rate limit. That may change in the next few months, but it's not urgent right now.

I'll keep myself subscribed to this and let the guys doing the SauceLabs tests know once this fix is available.

[2016-03-24 00:18] kidmillions opened #32 "Add more single job methods"
I'd love to add [getJobAssetFiles](https://wiki.saucelabs.com/display/DOCS/Job+Methods#JobMethods-GetJobAssetFileshttps://wiki.saucelabs.com/display/DOCS/Job+Methods#JobMethods-GetJobAssetFiles) to the prototype. This and a few other job methods available in the api are not yet in this wrapper:

[code]

[2016-03-24 18:23] mekdev commented on #18
Hi guys,

Sorry for the delay, my intention wasn't to iqnore errors when omitting callbacks.
I was merely looking for a sync-like behavior (java/ruby) that would just block execution and throw error.

Our test pattern heavily uses co and the mocha promise manager from https://github.com/SeleniumHQ/selenium/wiki/WebDriverJs and we omit mocha done entirely.

The reason I requested this in the beginn

[2016-03-24 19:57] danjenkins commented on #18
Great, thank you @mekdev !

[2016-03-24 19:58] #18 closed

[2016-08-17 17:22] halkeye commented on #32
@kidmillions have you tried creating a pull request for this?

[2017-05-30 23:38] zouning opened #37 "need support for share tunnels"
Hi,
Your package is awesome, we use it to connect saucelabs and run out tests. But recently, we changed the infra and setup shared tunnel so that teams could run tests with shared tunnels in pool.

But with your package, seems it does not support shared tunnel. I need this feature very much.

[2017-05-31 09:42] danjenkins commented on #37
Hi @zouning - thanks for using the package but I don't use saucelabs anymore and so this module is driven by contributions now rather than me making changes. Maybe one of the other Contributors will help you but feel free to issue a PR with the functionality and I'll check it out :)

[2017-09-29 09:57] Johann-S commented on #13
For those who still want to run their unit test throw nodejs on Saucelabs I did that module : https://github.com/Johann-S/JSUnitSaucelabs

[2018-05-08 21:42] kevcenteno opened #38 "Security vulnerability in dependencies: https-proxy-agent"
https-proxy-agent ^1.0.0 has a security vulnerability.  The fix is to upgrade to >=2.2.0 Details can be found here: https://nodesecurity.io/advisories/593

[2018-05-10 18:17] unindented commented on #38
Can you open a PR?

[2018-05-10 18:36] qiyigg commented on #38
Opened a PR(#39) for it. Thanks.

[2018-05-10 18:49] unindented commented on #38
Fixed with version `1.5.0`.

[2018-05-10 18:56] qiyigg commented on #38
Thanks!!

[2018-05-10 20:33] simonua opened #42 "Add TypeScript Definitions"
TypeScript-based consumers of node-saucelabs could use TypeScript definitions. Currently, an instance of node-saucelabs can only be typed as the general `any`.

Some projects include their own `d.ts` files, but that's typically done if the code is TypeScript-based. In the case of node-saucelabs, adding a definition to the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) repo w

[2018-05-12 07:44] brettz9 commented on #38
Can this be closed then?

[2018-05-12 21:30] #38 closed

[2018-12-04 10:14] danjenkins opened #44 "Saucelabs taking ownership of this module"
Hey @unindented / @OniOni / @PhearZero

Saucelabs approached me about taking ownership of the module. I don't use Saucelabs any more and they want to bring it up to scratch with what they have on offer. I have no issue with transferring the module to the saucelabs org and I'm guessing none of you do too but I wanted to ask publicly if you did before I did it.

[2018-12-04 10:15] danjenkins commented on #44
Locked the conversation to the repo collaborators

[2018-12-04 15:15] OniOni commented on #44
I have no issue either.

I would just say in light of the `event-stream` incident we might just want to update README stating ownership transfer. Just for transparency, I don't think Sauce Labs has any ill intent. Happy to take care of that if we think that's a good idea.

[2018-12-04 15:30] OniOni commented on #44
👍

[2018-12-04 17:56] unindented commented on #44
Sounds good to me!

[2018-12-05 15:57] PhearZero commented on #44
Yea 👍 I'm going to be using the project this upcoming year but haven't contributed much. Glad it made it upstream!

[2019-02-11 09:02] iamsjn opened #45 "Saucelabs always exports ./lib-cov/SauceLabs as default module"
Inside `index.js` saucelabs has these lines of code-
`module.exports = process.env.SAUCELABS_COV ?
  require('./lib-cov/SauceLabs') :
  require('./lib/SauceLabs');
`
but whatever change we make `./lib-cov/SauceLabs` is getting exported as the default module.

We are at node version 8

[2019-02-12 07:42] #45 closed

[2019-02-12 07:43] iamsjn commented on #45
This issue mostly related with protractor's typescript test compilation with webpack. So it doesn't belong here.

[2019-03-11 10:12] #44 closed

[2019-03-11 10:12] christian-bromann commented on #44
We rebuild the package and published it as v2.0.0. It has much more functionality in terms of support for Sauce and RDC API. Additionally it comes with a CLI interface to easily fetch information or assets from the job. Hope you guys like it. Any feedback would be appreciated.

[2019-03-11 10:14] christian-bromann commented on #42
This should be much easier now to implement thanks to the swagger definitions this API is based on. Any contribution would be highly appreciated.

[2019-03-11 10:15] wswebcreation commented on #26
Codeship has been removed

[2019-03-11 10:15] #26 closed

[2019-03-11 10:16] wswebcreation commented on #11
Module has been rewritten. Issue will be closed now

[2019-03-11 10:16] #11 closed

[2019-03-11 10:16] christian-bromann commented on #13
Sauce Labs EOLed the unit test feature which makes this issue obsolete. If you still feel that this feature is/was useful please create a feature request in our [Aha Portal](https://saucelabs.ideas.aha.io/). Thanks!

[2019-03-11 10:16] #13 closed

[2019-03-11 10:17] #27 closed

[2019-03-11 10:17] wswebcreation commented on #27
Is fixed now

[2019-03-11 10:18] christian-bromann commented on #37
@zouning we have rewritten the package and added varies of new endpoints to it. Check out the `listAvailableTunnels` command to get a list of shared tunnels in your pool. You can find all command documentation [here](https://github.com/saucelabs/node-saucelabs/blob/master/docs/interface.md).

[2019-03-11 10:18] #37 closed

[2019-03-11 10:19] wswebcreation commented on #32
All API methods for the Sauce Labs Desktop browsers and the Real Device clouds are now provided. More info can be found [here](https://github.com/saucelabs/node-saucelabs/blob/master/docs/interface.md).

If there are still any questions feel free to submit an issue

[2019-03-11 10:19] #32 closed

[2019-03-11 12:34] simonua opened #50 "Exclude scripts folder from npm package"
I don't believe it was intended for the `scripts` folder to be packaged as it cannot run successfully because the `src` folder does not exist.

[2019-03-11 12:36] simonua commented on #42
@christian-bromann, could you tell me where the swagger definitions are referenced, please?

[2019-03-11 12:38] simonua opened #52 "Exclude assets folder from npm package"
trophy-bot.png is included. It's cute, but it's 25 KB, and I'm not sure I see its value in the package. Can it be excluded?

[2019-03-11 12:40] simonua commented on #52
Nevermind that. I had an old folder from an outdated fork. I see it's already excluded.

[2019-03-11 12:40] #52 closed

[2019-03-11 12:44] wswebcreation commented on #42
@simonua

You can find them here https://github.com/saucelabs/node-saucelabs/tree/master/apis

[2019-03-11 12:46] simonua commented on #42
Awesome, @wswebcreation! I'll see if I can take a look in the next week or two but can't promise I'll be able to get to it soon.

[2019-03-11 13:12] #50 closed

[2019-03-13 15:14] christian-bromann opened #53 "Embed Sauce Connect support"
There is no reason to have a separate package to use Sauce Connect. We should embed this functionality into this package. It should ensure to always use the latest SC version and only download it when needed and not available.

[2019-04-18 03:34] enriquegh opened #56 "Full region name responds with DNS error"
**Short summary of what the user sees:**
If a user tries to to use a region name that is not the "short" version it will fail

**Exact steps to reproduce the problem:**
1. Download latest version of saucelabs module (at time of bug report 2.1.8)
2. Try running any command via CLI or as module with a region that is not eu or us.
Example:
sl listJobs $SAUCE_USERNAME --limit 5 --region us-central-1

[2019-04-23 15:15] #56 closed

[2019-04-29 22:49] Borets opened #59 "Add support for Sauce Headless"
Now that the product has hit GA let's add the support for headless as a DC option.

[2019-04-29 22:53] #59 closed

[2019-06-27 08:23] zewa666 opened #63 "As npm package sample is wrong"
Hey there,

looking at the sample provided with the latest update (after taking over the package) this clearly can't build. Where is that `user` coming from? Besides that the SauceLabs constructor expects a `options` object specifying the `user` and `key` aka accesskey as minimum.

What I wonder is that now most APIs do require the username. Why isn't that already forwarded from the provided optio

[2019-06-27 08:30] christian-bromann commented on #63
I think this is just not properly documented. I you create you create an instance like this:

[code]

it gets username and password from the environment (`SAUCE_USERNAME` and `SAUCE_ACCESS_KEY`). You can also pass in an option object:

[code]

[2019-06-27 09:43] zewa666 commented on #63
thats true, but if neither of the ENV is set you end up with an error of something along the lines "slice of undefined bla bla bla ..." which most likely points to this [section here](https://github.com/saucelabs/node-saucelabs/blob/master/src/index.js#L120). So proper error could be thrown instead to tell the user to either provide the options or define the ENV. Routes themselves do reject with `

[2019-06-27 10:51] christian-bromann commented on #63
Yes exactly. This is a bug in the documentation.

Yes, as you mention you could technically also fetch the details of a subaccount.

[2019-06-27 13:12] #63 closed

[2019-07-04 12:11] zewa666 opened #66 "replacement for old getAllBrowsers (endpoint: info/browsers/all)"
with v1.x there was a route available to list all possible browser combinations.
We've made use of that for our endpoints builder.

The return was an array of simple browser descriptions:

[code]

With the 2x branch I can't any longer find that path (info/browsers/all). Is there an alternative API endpoint now available for that?

Furthermore the new API should list that by region

[2019-07-04 12:17] christian-bromann commented on #66
No, what was the endpoint url?

[2019-07-04 12:20] zewa666 commented on #66
as mentioned `info/browsers/all`. Here's the old code from v1 https://github.com/saucelabs/node-saucelabs/blob/v1/lib/SauceLabs.js#L174

[2019-07-04 14:01] christian-bromann commented on #66
This can be simply added by extending the swagger definition. The best way for that would be to improve our weak implemented swagger integration. However this could take some time so therefor I would recommend to make a PR to the generated one in this repository.

[2019-07-04 14:27] zewa666 commented on #66
Well typically swagger schemas are generated nowadays code-first from the backend so I'm not sure how to proceed here manually. Does this belong in `sauce.api`? But even if we scram those in how can we support the region setting? I guess the supported combinations can't be 1:1 for every region, especially when it comes to real devices. Talking about later is there any new API available to list tho

[2019-07-04 14:30] zewa666 commented on #42
@simonua a basic first shot is now implemented. Granted a few endpoints could use better typings instead of a naked `object`. So if you're about to test this I'm happy about any feedback to see what can be further improved

[2019-07-06 09:43] christian-bromann commented on #42
@zewa666 thanks for all the work 👏

[2019-07-06 09:43] #42 closed

[2019-07-08 07:58] zewa666 commented on #66
I figured we can make use of `listPlatforms` and passing it either `all`, `webdriver` or `appium`. It doesn't fully reflect what was available with `getBrowsersAll` but should be a good start. In our case we anyway just need webdrivers and I'm not really sure what `getSeleniumBrowsers` was meant to do anyways. Guess it's for v1 Selenium-RC perhaps?

[2019-07-08 09:21] christian-bromann commented on #66
Closing then. I will create an internal ticket to ensure we get this endpoint into the Swagger file. Thanks!

[2019-07-08 09:21] #66 closed

[2019-07-16 15:05] valishah opened #69 "Support for real devices cloud"
As saucelabs started providing real devices testing support. Can we extend the API support of mobile browser testing also here?

https://api.testobject.com/

[2019-07-16 15:06] christian-bromann commented on #69
It already does. Check the [docs](https://github.com/saucelabs/node-saucelabs/blob/master/docs/interface.md)

[2019-07-16 15:06] #69 closed

[2019-07-16 15:32] valishah commented on #69
Thank you @christian-bromann: My bad. I missed it

[2019-07-17 15:24] valishah commented on #53
Hi @christian-bromann: Do you mean getting proxy tunnel creation to the package?

[2019-07-17 15:53] valishah opened #70 "Fetching list of active tunnels by user"
Hello,

While using the [Rest API](https://docs.saucelabs.com/dev/api/connect/) I could able to pull the active tunnels by `username`

Request: `rest/v1/USERNAME/tunnels`
Response: `['tunnel-id-1','tunnel-id-2']`

But while using the node module, I'm getting the information from all the users under the organization. Is it because of the user being admin?

Request: `api.listAvailableTunnels(USERNAM

[2019-07-17 16:22] christian-bromann commented on #70
Yeah most likely. I can double check on that.

[2019-07-17 16:24] christian-bromann commented on #53
Yes, like embedding the `sauce-connect-launcher` package into this. However this package seems to still be maintained so this is not that urgent.

[2019-07-17 23:00] valishah commented on #70
Sure. As we are expecting `SAUCE_USERNAME` from env  (or) 'user' during constructor initialization,  Asking for username to be mentioned while fetching `listOfAvailableTunnels` might not be needed I believe.
Everything resides in a single process and object-level scope.

[2019-07-17 23:01] valishah commented on #53
Okay. Thanks for the response. 👍

[2019-07-18 09:12] christian-bromann commented on #70
It is though since you can pull the data not only for your user but also for your sub-accounts.

[2019-07-18 10:29] christian-bromann commented on #70
This is more difficult. As you can see all API commands are generated based on the Swagger definition and all special behaviors need to be implemented separately.

[2019-07-19 04:41] jacknjill02 opened #71 "job status updates for firefox"
updateJob(username, sessionId, status) is unable to update the status for firefox browser though it is working fine with chrome browser.

[2019-07-19 04:59] wswebcreation commented on #71
Hi @jacknjill02

Can you please provide some more information like for example

- the setup your are using
- some logs of the Firefox execution

It's now searching for a needle in a haystack :wink:

[2019-07-19 05:24] jacknjill02 commented on #71
@wswebcreation I am using
version: 4.10.2
name: webdriverio
platform: Windows 10
browserName: firefox
browser version : 68

[2019-07-19 07:30] wswebcreation commented on #71
Going to close this issue because we picked it up in our chat

[2019-07-19 07:30] #71 closed

[2019-07-19 11:49] christian-bromann commented on #71
@wswebcreation what was the solution to this? Anything we could have done better?

[2019-07-26 16:01] tborys opened #72 "downloadJobAsset() method doesn't create video when path is not specified"
Current behaviour:
When calling

`await myAccount.downloadJobAsset(
        'job_id', 'video.mp4'
    )`

the asset is not downloaded in the current working directory.

When I added directory **with the filename**
`await myAccount.downloadJobAsset(
        'job_id', 'video.mp4', './video.mp4'
    )`

asset got created in the cwd.
It would be great if no directory specified it defaults to cwd, othe

[2019-07-27 07:04] wswebcreation commented on #72
@christian-bromann

There seems to some strange behaviour  in the code. The internal code for downloading the job asset needs 3 arguments, see https://github.com/saucelabs/node-saucelabs/blob/master/src/index.js#L175

The docs tell this

[code]

The `index.d.ts` that is generated says this

[code]

A quick and dirty fix like below would solve the problem for now by adding the blow code here https:

[2019-09-02 02:36] Thor07 opened #73 "Platform Configurator Copy Code section scrolls erroneously for Chrome"
Unable to fetch values from any tab other than Java for following config.
MacOSX
Chrome 76.0
Tried for following config:
![Screen Shot 2019-09-02 at 2 06 42 PM](https://user-images.githubusercontent.com/46732495/64086259-3d0e3400-cd8b-11e9-9add-19b351d82007.png)

caps['browserName'] = 'Safari';
caps['appiumVersion'] = '1.8.1';
caps['deviceName'] = 'iPad Pro (9.7 inch) Simulator';
caps['deviceOrien

[2019-09-02 05:25] wswebcreation commented on #73
@Thor07

Can you please explain how this question is related to this module?

[2019-09-02 22:22] Thor07 commented on #73
@wswebcreation the node tab along with others for platform configurator on https://wiki.saucelabs.com/display/DOCS/Platform+Configurator#/ was buggy and not opening hence opened this thread. Seems fixed now.

[2019-09-02 22:22] #73 closed

[2019-09-03 04:51] wswebcreation commented on #73
This module is not about the platform configurator, so thanks for closing it.

[2019-10-07 13:19] christian-bromann opened #74 "TypeScript check fails for region"
Error:

[code]

It should be possible to assign a string to it.

[2019-10-20 13:29] christian-bromann opened #75 "Replace request module with something more lightweight"
## Problem

Currently the module uses request which comes with a lot of dependencies and is impossible to use in the browser (when bundled with e.g. webpack)

## Proposed Solution

Let's replace it with something more lightweight.

See also webdriverio/webdriverio#4235

[2019-10-25 22:11] enriquegh opened #76 "Add concurrency endpoint for xTM"
**Summary**
As users move to xTM, they will need to use a different concurrency endpoint that is made to take teams into account.

This is /rest/v1.2/users/:username/concurrency

Currently, we only provide access to rest/v1.1/users/:username/concurrency via getUserConcurrency

**AC**

Add new endpoint to sauce.json Swagger to support this new endpoint.

[2020-03-23 16:30] enriquegh opened #77 "CLI erroring out with "Error: Couldn't find API endpoint for command "then"" on 4.0.0"
**Short summary of what the user sees:**
Any CLI command will not work when using 4.0.0

*Exact steps to reproduce the problem:*
Download latest version (4.0.0)
After building and compiling run:
[code]
See error. This happens with other commands like downloadJobAsset and from my testing all commands are affected.
*Isolation: What must be true for it to happen? When does it not happen?*
Happens con

[2020-03-24 10:31] #74 closed

[2020-03-24 10:31] #77 closed

[2020-03-24 11:26] #72 closed

[2020-03-24 11:27] christian-bromann commented on #72
@tborys thanks for reporting the issue and @wswebcreation thanks for looking into it. I updated the docs to reflect this command a bit better. It will only store the asset to your FS if you provide a 3rd parameter because sometimes you want to work with the job asset in your script without storing it.

[2020-03-26 17:27] esimons opened #78 "3.1.1 release seems broken"
Was the publish of version 3.1.1 a mistake?

I don't see that release in the master branch commit history.
Also, there's no 3.1.0 release on npm.
Also also, there's a 3.1.1 alpha release that is more recent than the actual 3.1.1 release.
(Ref: https://www.npmjs.com/package/saucelabs?activeTab=versions)

Moreover, projects that pull it in are seeing `Error: connect ECONNREFUSED 127.0.0.1:3000` when

[2020-03-26 17:32] christian-bromann commented on #78
@esimons please update to v4, this release is indeed broken and I will deprecate it.

[2020-03-26 17:32] esimons opened #79 "Release notes / CHANGELOG"
Would it be possible to publish some release notes / CHANGELOG documentation for consumers to know what's changed between releases? At the very least, for major version bumps?

At present it's difficult to know what breaking change warranted the bump from v3 to v4, and I recall having similar issues with the API back when it went from v1 to v2 (see https://github.com/saucelabs/node-saucelabs/pull/

[2020-03-26 17:36] christian-bromann commented on #79
@esimons definitely! For now, just check the commit history as there aren't that many commits be done.

[2020-03-26 17:37] christian-bromann commented on #78
Deprecated test releases. Thanks for pointing this out!

[2020-03-26 17:37] #78 closed

[2020-03-26 19:51] christian-bromann commented on #79
Yes, moving to got was to big of a risk to not choose a major version bump, especially since setting proxy via environmental variables won’t work in v4 anymore.

[2020-04-02 07:57] alfonso-presa commented on #78
@christian-bromann I'm experiencing this also in my CI (jenkins) environment using wdio v5 sauce service depending on saucelabs@4.0.2 while performing a browser.sessionReload()

[code]

Any guidance?

[2020-04-02 08:10] christian-bromann commented on #78
@alfonso-presa can you provide a reproducible example?

[2020-04-02 08:54] alfonso-presa commented on #78
@christian-bromann I'm trying to reproduce it locally with out luck.... Could you give me any clue on when that request happens and under which circumstances? I know that it ofcourse happens when you run agains saucelabs with the sauce service included. I've tried to pass the sauce:options capability with all filled in like I do in CI.... No luck yet, and I've confirmed that versions of both sauce

[2020-04-02 09:05] christian-bromann commented on #78
Try to clean your `package-lock.json` and `node_modules` and reinstall everything.

[2020-04-02 09:12] alfonso-presa commented on #78
Yep, already tried that :-(

[2020-04-02 09:19] christian-bromann commented on #78
Can you check the `saucelabs` code in the node modules folder to see if you find `localhost:3000` in there?

[2020-04-02 09:47] alfonso-presa commented on #78
Ok. My bad.... We are using lerna and looks like the different versions of node of my machine and the CI were acting differently with the hoisted dependencies, and we had a package with fixed dependency to `@wdio/sauce-service@5.16.10`

Thank you for the help and sorry for bothering

[2020-05-18 14:26] christian-bromann commented on #53
This has been implemented in [`v4.5.1`](https://github.com/saucelabs/node-saucelabs/releases/tag/v4.1.0).

[2020-05-18 14:26] #53 closed

[2020-05-18 14:28] christian-bromann opened #82 "Allow specifying a Sauce Connect version"
It would be nice if someone could easily switch multiple Sauce Connect versions by passing in a parameter. It could also allow Sauce employees and their customers to test new beta versions.

[2020-05-18 14:29] christian-bromann commented on #79
Moving on we will publish release logs in the [release tab](https://github.com/saucelabs/node-saucelabs/releases).

[2020-05-18 14:29] #79 closed

[2020-05-29 20:14] mike-trout opened #84 "Sauce Connect breaks on Windows"
When running on Windows, I think the below line is breaking Sauce Connect. Isn't `path.join()` intended for file system paths?

https://github.com/saucelabs/node-saucelabs/blob/master/src/utils.js#L42

Note the `\` in the `--rest-url` param below.

[code]

Additionally, trying to override the REST endpoint with the `restUrl` option does not work as the override is placed before the broken `--rest-

[2020-06-12 14:02] nathancahill opened #86 "Periodic ENOENT running in CI"
This is an error that happens >50% of the time on CircleCI. No changes are made between one run and the next. One run might pass, the next will fail with this error. All versions are committed in yarn.lock.

[code]

[2020-06-12 15:19] christian-bromann commented on #86
@nathancahill can you try to run the pipeline without cache? I am afraid that the cache that includes the Sauce Connect binary is used for different environments.

[2020-06-16 10:40] christian-bromann opened #87 "TypeError: Expected the `options.agent` properties to be `http`, `https` or `http2`, got `options`"
Upgraded from v5 to v6 latest. With an internal proxy under corporate net in the config file seeing the below error.

2020-06-15T03:32:04.663Z ERROR @wdio/utils:initialiseServices: TypeError: Expected the `options.agent` properties to be `http`, `https` or `http2`, got `options`
    at Function.normalizeArguments (/Users/s0g04rg/Documents/SourceCode/star/_mine/wdio/node_modules/got/dist/source/cor

[2020-06-16 16:52] Sam55555 commented on #87
Hello,
i have the same error in the last version 4.1.5 of the karma-sauce-launcher and defined HTTP_PROXY variable on gitlab.

[2020-06-16 17:20] christian-bromann commented on #86
ping @nathancahill

[2020-06-19 10:21] kscully commented on #87
Hello,

this happens also when I run the following below. Can you please raise the priority on this as nobody behind a corporate proxy can run automated tests.

Thanks

--------------------------------------------------------

[code]

--------------------------------------------------------

[2020-06-24 11:00] nathancahill commented on #86
Thanks, I think removing the cache solved the issue. I'll reopen in the future if it reappears.

[2020-06-24 23:10] sjana-aj opened #88 "Support for Sauce Connect for real mobile devices"
I am not able to make sauce connect tunnel work for real mobile devices (https://app.testobject.com/). When I try to set custom **restUrl** and **apiKey** inside **myAccount.startSauceConnect()**, it doesn't work. My setup looks like below:

[code]
When looked at sc command executed, it seems to be duplicating **--rest-url** and **--api-key** options in the command and failed to start the tunnel.

[2020-06-24 23:24] sjana-aj commented on #88
sc tunnel doesn't work even if I don't provide custom restUrl and apiKey like below -

[code]
It fails to start as it's adding **--rest-url** argument to the **sc** command. When I manually try to run the same command generated by script, it fails as well. When I again run it manually after removing **--rest-url** argument, it works fine. Can you pls check these behaviors.

[2020-06-29 08:58] nathancahill commented on #86
Even with the cache disabled we're still getting periodic errors.

[2020-07-02 19:06] #87 closed

[2020-07-03 07:43] #84 closed

[2020-07-03 13:07] Sam55555 commented on #86
The error occurred too on each run after gitlab runner cached on gitlab ci using the docker executer. No error during the first run and clean cache.

[2020-07-06 20:39] sjana-aj opened #91 "Issue creating sauce connect tunnel for real mobile devices"
I see the issue creating sauce connect tunnel for real mobile devices. It's happening due to duplication of api key argument in sauce connect command being generated when custom api key provided to create tunnel for real device testing.

**Code Block**
[code]

**Sauce Connect command generated**

`7 Jul 01:58:29 - Command line arguments: C:\Users\Sitam\Desktop\sauce-labs\node_modules\saucelabs\bui

[2020-07-06 20:39] sjana-aj commented on #88
@enriquegh @christian-bromann I still see the issue here due to duplication of api key argument in sauce connect command being generated when custom api key provided to create tunnel for real device testing.

**Code Block**
[code]

**Sauce Connect command generated**

`7 Jul 01:58:29 - Command line arguments: C:\Users\Sitam\Desktop\sauce-labs\node_modules\saucelabs\build\.sc-v4.5.4\bin\sc.exe --re

[2020-07-06 21:44] #88 closed

[2020-07-13 17:51] enriquegh commented on #91
@sjana-aj
`apiKey` is not a valid parameter at the moment.

You will need to set the username and access key when instantiating the SauceLabs object.

So you can do:

[code]
Since the access key used for RDC Sauce Connect and other services is different you might end up needing two separate instances to SauceLabs but that'll depend on exactly what you're trying to accomplish.

[2020-07-13 20:58] sjana-aj commented on #91
thanks @enriquegh , this helped! I see sauce connect for real devices is working using this approach. thanks again (y)

[2020-07-13 20:59] #91 closed

[2020-07-13 23:40] enriquegh commented on #86
Haven't been able to reproduce on a private Gitlab instance with a docker runner so far.

I was able to reproduce, however, if I was using the node alpine image:
[code]
This gave an error 100% of the time though and not intermittently.

[2020-08-05 08:53] #76 closed

[2020-08-31 15:56] christian-bromann opened #93 "Pull always latest Sauce Connect version if not specified otherwise"
We should update the `sc` command to always pull the latest Sauce Connect version from https://saucelabs.com/versions.json.

[2020-08-31 17:24] christian-bromann opened #94 "Expose ondemand url from client object"
To make it easier for consumer to set up the correct WebDriver endpoint we should expose it from the client.

ref: modernweb-dev/web#472

[2020-09-01 17:17] christian-bromann opened #95 "proxy typings ask for object instead of string"
The proxy options as well as the typings define the option as object while in reality it should be provided as a string. This should be cleaned up as we have started to have [a helper](https://github.com/saucelabs/node-saucelabs/blob/a66856fd878b3be66df2afc24aaff8d34999c5c0/src/utils.js#L141-L170) for it.

[2020-09-01 20:21] christian-bromann commented on #93
Let's hold off for a second as it seems that fetching that endpoint takes quite some time:
[code]
Checking back with the team.

[2020-10-07 16:01] joventuraz commented on #93
This seems to be fixed? I'm getting a very fast response... another way would be to scrape it from https://wiki.saucelabs.com/display/DOCS/Sauce+Connect+Proxy but that is dirty IMO

[2020-10-07 16:04] christian-bromann commented on #93
@joventuraz could have been a temporary issue with the S3 bucket, so happy to move forward with maintaining a hardcoded fall back.

[2020-10-07 16:19] enriquegh commented on #86
From @joventuraz:
[code]

Adding to this I think the issue lies somewhere in bin-wrapper and how it does its checks for the file/folder.

It seems like bin-wrapper is a collection of small modules so it was a bit hard to pinpoint exactly what is missing.

Some things we could try and do:
- Do more checks on whether the binary is actually there or not and retry to download if its not
- Allow for us

[2020-10-08 17:35] christian-bromann commented on #86
I proposed a change in the Sauce Connect Launcher to retry starting Sauce Connect if it fails: https://github.com/karma-runner/karma-sauce-launcher/pull/219

Let's see if we can fix this issue with that.

[2020-10-15 11:04] christian-bromann opened #99 "Move from Travis to GitHub actions"
Similar how we do this in [other packages](https://github.com/saucelabs/speedo) already let's move our CI/CD pipeline from Travis to GitHub Actions and add a workflow to release this package through it.

[2020-10-28 17:24] wswebcreation opened #100 "uploadJobAssets needs a file instead of a buffer"
The current `uploadJobAssets ` requests a file which results in storing the buffer into a file and then upload it to Sauce. Can we change this to a buffer and let the module handle this?

[2020-10-28 17:34] christian-bromann commented on #100
I would say users should be free to either pass in an array of strings (for file names) or a string buffer. We can make the check in the library and handle it accordingly.

[2020-10-29 11:38] #93 closed

[2020-11-03 13:25] web-padawan opened #102 "Error: failed to check for existing tunnels"
I'm using `@web/test-runner-saucelabs` and today my builds started to fail with the following error:

[code]

Build example: https://github.com/vaadin/vaadin-time-picker/pull/168/checks?check_run_id=1347582686

Note, the repository also has other job (visual regression tests) that uses [legacy URL](https://github.com/web-padawan/hermione-sauce/blob/f9b00b18f45477bb4891b363cbb3cb6c7bfa1203/lib/sauc

[2020-11-03 13:57] christian-bromann commented on #102
@web-padawan is this an issue that happened due to an update of `saucelabs` or with any versions? I will reach out to our @saucelabs/scdev team to get more infos on this.

[2020-11-03 14:03] web-padawan commented on #102
It's unclear what could be the reason but not the tests are passing:
https://github.com/vaadin/vaadin-time-picker/pull/168/checks?check_run_id=1347805157

So maybe it was some random failure (although it happened several times for different repositories).

Thank you for prompt feedback, for now I'm closing this as it seems to be fixed.

[2020-11-03 14:59] christian-bromann commented on #102
@web-padawan ok, let me know if this happens again, maybe with the help of the log files we can investigate this issue better. Thanks!

[2020-11-04 08:29] web-padawan commented on #102
Unfortunately today the builds started to fail again with the same issue:

https://github.com/vaadin/vaadin-select/pull/234/checks?check_run_id=1351738065

https://github.com/vaadin/vaadin-upload/pull/360/checks?check_run_id=1351734013

The `saucelabs` version installed is the latest one (4.5.1), see the log example below (I removed the access key).

[code]

[2020-11-04 11:48] christian-bromann commented on #102
@web-padawan please update to latest package version. It should be fixed now. If not let me know and I will re-open.

[2020-11-04 11:48] #102 closed

[2020-11-04 12:23] web-padawan commented on #102
Updated to `4.5.2` and my builds are passing now, thanks for the quick fix! 🙇‍♂️

[2020-11-16 11:18] christian-bromann commented on #86
@nathancahill have you experienced the same issue after updating the package?

[2020-12-04 10:43] christian-bromann commented on #99
Fixed by https://github.com/saucelabs/node-saucelabs/commit/d577278348bbfb37b5ffc4dd52c36eeea344494c

[2020-12-04 10:43] #99 closed

[2021-02-17 14:12] Seamoo13 commented on #86
Are there any updates on this? I am also having this issue
![sauceConnectIssue](https://user-images.githubusercontent.com/47522152/108216247-eb05cd80-713a-11eb-8a40-f9d01e920c39.png)

[2021-03-01 12:03] christian-bromann opened #108 "Add storage API"
Our live testing team has provided an OpenAPI spec for the recent released storage API. This should be added to our Node.js client. The spec is the following:

[code]

[2021-03-12 13:36] christian-bromann opened #109 "Command `uploadJobAssets` is missing in types"
The command `uploadJobAssets` has not been defined in the type definition.

[2021-03-12 14:31] christian-bromann commented on #109
Fixed by #110

[2021-03-12 14:31] #109 closed

[2021-03-30 11:16] foolip opened #111 "Method to list supported browsers?"
I've search https://wiki.saucelabs.com/display/DOCS/The+Sauce+Labs+REST+API and these bindings, but can't find a way to enumerate all the browsers which are supported.

BrowserStack has https://www.browserstack.com/docs/automate/api-reference/selenium/browser#get-browser-list, I'm looking for something similar.

[2021-03-30 11:36] christian-bromann commented on #111
Hey @foolip,

you can use the [`listPlatforms`](https://github.com/saucelabs/node-saucelabs/blob/main/docs/interface.md#example-7) command, e.g.:

[code]
or
[code]

Other platform options are `selenium-rc`, `appium` or `all`. We are working on improving the docs around all these API interfaces. Let me know if you have further questions.

[2021-03-30 11:36] #111 closed

[2021-03-30 11:56] foolip commented on #111
Thanks @christian-bromann, I got that to work with your example, thanks!

I also found https://wiki.saucelabs.com/display/DOCS/Platform+Information+Methods for the underlying REST API.

I do have a follow-up question: given an entry from that long list of platforms, is there a reliable way of turning that into WebDriver capabilities for connecting to exactly that configuration? I'm not sure if I'm

[2021-03-30 12:08] christian-bromann commented on #111
Sure, let's say you have:

[code]
If you would use WebdriverIO you could do:

[code]

Would that make sense?

[2021-03-30 12:27] foolip commented on #111
Thanks @christian-bromann, if passing along the values works that's great, and easier than I thought from trying to do something similar a few years ago. I'll give it another try :)

[2021-04-21 00:11] enriquegh commented on #108
@christian-bromann I can implement this.

[2021-04-21 00:43] enriquegh commented on #108
@christian-bromann
I have a WIP in [eg-storage-api](/saucelabs/node-saucelabs/tree/eg-storage-api).

I have an OpenAPI spec question.

Looks like when implementing AutonomIQ you added the `type` of a pathParam directly in the object.
Example:
https://github.com/saucelabs/node-saucelabs/blob/09b269b9987afcc0fa59ef7197be6c4140f1c5ec/apis/autonomiq.json#L81-L89

but looks like in the spec shared (as

[2021-04-21 07:18] christian-bromann commented on #108
Might be, not sure but let's support both protocols and go with solution `#1`

[2021-05-03 13:57] markcellus commented on #86
I'm having this issue too using Node 14 alpine (14.16.1). But is no longer an issue after downgrading node back to 12.

[2021-05-18 05:23] wswebcreation opened #114 "Feature: Add app uploads to this module"
I would be great if this module would also provide the ability to upload apps to the Sauce Labs EU/US/(APAC?) storage. This is an example script I now use

https://github.com/webdriverio/appium-boilerplate/blob/main/scripts/push_apps_to_sauce_storage.sh

[2021-05-24 11:23] web-padawan opened #115 "Failure on M1 Mac: unexpected signal during runtime execution"
Hello,

On my MacBook M1 there is a following error when using [`@web/test-runner-saucelabs`](https://github.com/modernweb-dev/web/tree/master/packages/test-runner-saucelabs):

[code]

Any ideas what the reason could be?

[2021-05-25 06:38] christian-bromann commented on #115
mhm 🤔  not really .. seems to be a common problem with M1 chips

[2021-05-25 07:32] web-padawan commented on #115
Here is a log file (credentials removed). Looks like something is wrong with the certificate not present in the keychain:

[code]

[2021-05-25 07:40] christian-bromann commented on #115
@web-padawan ah you are using Sauce Connect? Mind trying Sauce Connect `v4.6.5`? If you clear you node_modules and re-install your dependencies you should automatically get the latest version.

[2021-05-25 07:55] web-padawan commented on #115
I was able to solve this by installing [Worldwide Developer Relations - G2 Certificate](https://www.apple.com/certificateauthority/AppleWWDRCAG2.cer).

[2021-05-25 08:00] christian-bromann commented on #115
Ah nice. Closing then!

[2021-05-25 08:00] #115 closed

[2021-05-25 08:36] web-padawan opened #116 "Response code 404 when downloading sc-4.6.5-linux32.tar.gz"
[code]

See https://github.com/vaadin/web-components/pull/1990#issuecomment-847671384 for more details.

[2021-05-25 08:54] christian-bromann commented on #116
According to the [Sauce Connect changelog](https://changelog.saucelabs.com/en/sauce-connect-proxy-version-) there is no Linux 32bit version anymore. Can you run GitHub actions on a 64bit version?

[2021-05-25 08:56] christian-bromann commented on #116
I will revert the last release and make it a major version bump.

[2021-05-27 09:44] christian-bromann commented on #116
Good call, thanks!

[2021-05-27 09:49] christian-bromann commented on #116
Done, please let me know if the issue still occurs. Thanks for reporting.

[2021-05-27 09:49] #116 closed

[2021-05-27 12:20] HackbrettXXX commented on #116
Thanks for reacting so quickly. While npm will now automatically install 4.7.7 this doesn't seem to resolve the issue. I'm still getting a 404:

[code]

[2021-05-27 12:29] christian-bromann commented on #116
@HackbrettXXX you will have to upgrade to v5 of this package where the 32bit version got removed.

[2021-05-27 12:36] christian-bromann commented on #116
I just triggered a release of a new v4 that will default to Sauce Connect v4.6.4 rather than latest. This should finally fix your issue.

[2021-05-27 12:37] HackbrettXXX commented on #116
Ah, thanks. That's good, because upgrading would not be that easy for us, since we use saucelabs indirectly via `karma-sauce-launcher`.

[2021-05-28 08:41] HackbrettXXX commented on #116
I've just tested it, 4.7.8 works fine. Thanks again for fixing it so quickly.

[2021-06-03 14:10] vmp-mark opened #118 "Real devices rdc endpoints supported?"
Hi,

I saw in some other issues that real devices were supported in this package, but it's not clear to me. Are the /rdc endpoints from here supported through this package?
https://docs.saucelabs.com/dev/api/rdc

Thanks!

[2021-06-03 14:16] christian-bromann commented on #118
There is support for RDC endpoints (see [package docs](https://github.com/saucelabs/node-saucelabs/blob/main/docs/interface.md)) but it seems they are deprecated. Let me follow up with the team to see what the status it.

[2021-06-03 16:04] vmp-mark commented on #118
Thanks @christian-bromann . I checked the docs you linked but I don't see any of the endpoints from the doc I linked :)
[code]

[2021-06-22 09:23] christian-bromann commented on #118
@vmp-mark you right, this API seems missing, do you want to take a stab adding it to this package?

[2021-07-02 11:55] Seamoo13 commented on #86
The issue went away for my project for a few months, then suddenly returned and is occurring roughly 50% of the time.

![2021-07-02_3](https://user-images.githubusercontent.com/47522152/124270194-8f196f80-db44-11eb-9640-6f027a0587c3.png)

[2021-07-06 23:45] waggledans opened #119 "Deprecated Tunnels REST API version is used"
## Current behavior

The tool uses v1.1 tunnels REST API endpoint /available_tunnels to get all the tunnels for the user and their org.
The endpoint is a part of API version that Sauce Labs is planning to deprecate in the future.

## Desired behavior

Should use v1 tunnels REST API endpoint /tunnels?all=true&full=true to get all the tunnels for the user and their org.
The endpoint is a part of the

[2021-07-07 00:29] waggledans commented on #119
see also #70

[2021-07-12 08:41] #119 closed

[2021-08-17 22:34] poonamsl opened #121 "Update build URL returned by listBuilds command"
*Short summary of what the user sees:*
The 'listBuilds' command is returning the old build URL.
https://app.saucelabs.com/builds/<BUILD_ID>

*Assistance Requested*
Please update it to return the new build URL
https://app.saucelabs.com/builds/vdc-v2/<BUILD_ID>

[2021-10-18 15:29] alexplischke opened #125 "Sauce Connect 4.7.1 not working with newest release"
https://github.com/saucelabs/node-saucelabs/pull/124 introduced a bug with the update of sauce connect to 4.7.1, as certain deprecated flags are now causing a fatal error on start (rather than just showing a deprecation **warning** instead of an **error**).

Running
[code]

will result in the following error
[code]

[2021-10-18 17:31] #125 closed, assigned to christian-bromann

[2021-11-01 08:08] web-padawan opened #129 "Upgrade to 6.2.1 causes "WebDriver Error: Sauce could not start your job""
We have a failure in `@web/test-runner-saucelabs` apparently related to #124

[code]

See the build here: https://github.com/modernweb-dev/web/runs/4065325874

At first it failed on `7.0.0` major bump https://github.com/modernweb-dev/web/pull/1729
But then I realised that even minor bump of `saucelabs` to 6.2.1 causes this.

@christian-bromann could you please give some pointers on what goes wrong

[2021-11-01 08:47] christian-bromann commented on #129
@web-padawan it seems that the issue is that `tunnelIdentifier` got deprecated by the Sauce Connect team, the new property should be `tunnelName`. Can you try to update to the latest version and use `--tunnelName` as parameter?

[2021-11-01 08:50] web-padawan commented on #129
Thank you for quick response, I will try it out. It's a pity that such breaking changes land in minor releases 😕

[2021-11-01 08:55] christian-bromann commented on #129
I know. This was a mistake on our side. I am sorry! Our team wasn't aware of these breaking changes in SC as it was a minor bump in their version as well. We will test it more throughly next time.

[2021-11-01 08:59] web-padawan commented on #129
No problem, this is a relatively small change and it's definitely fine to have it in 7.0.x release 👍
Maybe it makes sense to revert it for 6.2.x and have a patch release to not affect users.

[2021-11-01 09:24] web-padawan commented on #129
So I changed to use `tunnelName` https://github.com/modernweb-dev/web/pull/1729/commits/aec925f49e710ad8e7496ad29c3773321cce4b80 and now there is a different error 😱

[code]

[2021-11-01 09:43] christian-bromann commented on #129
Done.

I will check in with the team to see what this means, trying to reproduce it in Ubuntu 20.04.

[2021-11-01 09:45] web-padawan commented on #129
For now, I put our 7.0.0 update on hold, so no pressure with this at all. Thank you for handling 6.x version 🙇‍♂️

[2021-11-15 19:11] web-padawan commented on #129
@christian-bromann Hi, is there any update or an issue where this is tracked? The above error is still there.

[2021-11-15 19:28] christian-bromann commented on #129
@web-padawan I left Sauce Labs and won't have the time to work on this in near future.

@diemol can you take over?

[2021-11-15 19:36] web-padawan commented on #129
Oh, sorry to bother you. As I mentioned above, this isn't urgent. Here is [the most recent build](https://github.com/modernweb-dev/web/runs/4215943457?check_suite_focus=true).

[2022-01-05 20:58] boneskull opened #134 "bin-wrapper is problematic"
[bin-wrapper](https://github.com/kevva/bin-wrapper) is seemingly unmaintained.  There's a [ReDoS vuln](https://github.com/advisories/GHSA-44c6-4v22-4mhx) in a deep transitive dependency (`semver-regex`).  Sending a PR to address this problem (to `bin-wrapper`) is probably futile.  Here are our options:

1. Remove `bin-wrapper` and replace it with something else.  That something else might mean "DI

[2022-01-05 21:13] boneskull commented on #134
Further:

- `bin-wrapper` uses an old version of `bin-version-check`
- `bin-version-check` attempts to parse the version displayed by `<executable> --version` using semver
- but it does not appear we actually need to parse the version; all we need to do is grep for the required version as returned by `sc`.

`bin-version` is pretty straightforward, and we can simplify it if rolling our own, which I

[2022-01-06 07:20] wswebcreation commented on #134
I can take a look at it tomorrow @boneskull

[2022-01-06 19:40] boneskull commented on #134
@wswebcreation Any thoughts?  If you don't have the cycles, I am happy to work on this.

[2022-01-07 21:30] boneskull opened #136 "suggested various refactors"
Taking a look at the state of the codebase, I'd like to recommend the following changes:

1. Drop any use of stage-2 or lower JS syntax (e.g., the bind operator `::`).  We shouldn't use any JS that isn't guaranteed to one day actually be valid syntax.
2. Configure `babel-env` to use `shippedProposals: true`, which should replace most of the one-off babel plugins.
3. Change the formatting to use tw

[2022-01-10 11:25] christian-bromann commented on #136
💯  I was a fan of this bind operator but don't use it these days either due to what you described 😊

[2022-01-10 20:44] boneskull commented on #136
yeah, somebody should work on that bind operator.  would be useful.  alas...

[2022-01-10 22:50] #134 closed

[2022-03-04 17:09] LeParadoxHD commented on #86
Any update on this?

[2022-03-30 22:28] enriquegh commented on #86
@wswebcreation would [7.1.3](https://github.com/saucelabs/node-saucelabs/releases/tag/7.1.3) fix this as bin-wrapper is now replaced?

[2022-03-31 05:16] wswebcreation commented on #86
Hi @enriquegh

I'm not 100% sure, we simplified the download now, so it's worth a try

[2022-04-22 18:06] enriquegh commented on #136
My two cents on the bind operator:

As someone with Node experience but in no way an Node expert the barrier of entry for me to contribute is way higher.
I've done it but not without me bonking my head multiple times.

I also may be doing something wrong but debugging issues with node-brk is harder as well.

[2022-04-26 01:50] enriquegh opened #139 "Proxy argument not getting passed to SC"
**Short summary of what the user sees:**
As a user I want to pass the proxy argument to SC so I can have SC be set up with a proxy.
Currently we filter this out which makes passing a proxy to SC impossible

**Exact steps to reproduce the problem:**
1. Clone:
https://github.com/enriquegh/node-saucelabs-proxy-bug
2. Run:
[code]
and then:
[code]

See something like:
[code]
and notice no `--proxy` fla

[2022-05-06 18:36] boneskull commented on #139
@enriquegh 1 sounds fine to me.

[2022-05-06 19:20] enriquegh commented on #139
Cool. That's what I was thinking too. I'll get that going.

[2022-05-06 19:23] boneskull commented on #121
@waggledans I'm not sure if this is still an issue, but from what I can tell, this module returns the result of the API call verbatim.  It looks like the endpoint contains `getBuildsV2`.  Does this module need to use a different endpoint, or is it an issue on SL's side?

[2022-05-06 19:43] boneskull commented on #121
Maybe this is a question for VDC

[2022-05-09 18:00] boneskull commented on #129
@web-padawan I can try to help with this.  The build you linked to is missing, however.

I think it'd be helpful to understand if this problem is Sauce-Connect-specific or `node-saucelabs`-specific.  I'll see if we have (or can implement) a debugging flag which will echo the `sc` command, so it may be possible to copy & paste the command and see its behavior outside of a `node-saucelabs` context.

[2022-05-09 23:04] waggledans commented on #121
not sure who owns this endpoint.

[2022-05-10 00:39] boneskull commented on #136
(notes to self about TS refactoring)

- Most of the types (see `build/index.d.ts`) are generated from the OpenAPI docs, but they don't seem to be quite right (I'm seeing a lot of object-type function parameters which are not well-defined).
- It may be possible to replace our hand-rolled script with a package which does the conversion (e.g., [openapi-typescript](https://npm.im/openapi-typescript)).

[2022-05-20 19:16] web-padawan commented on #129
Looks like the error is no longer reproducible with `7.2.0` version - here is a [fixed build](https://github.com/modernweb-dev/web/runs/6530087501). Closing the issue.

[2022-05-20 19:16] #129 closed

[2022-06-09 16:18] josueuitzil opened #143 "query-string might need to be a dependency instead of a devDependency"
Hi devs,
I noticed that the stringify function of the query-string library is imported and used in the index file: https://github.com/saucelabs/node-saucelabs/blob/7e9c5fba5457ae144f748b2eb70acd25c1661cef/src/index.js#L8

Which results in it being also required in the build:
<img width="347" alt="image" src="https://user-images.githubusercontent.com/61981074/172892934-6b66b43a-b905-47b4-86ad-c4429

[2022-06-16 01:00] enriquegh commented on #86
I've re-opened this as it's essentially the same issue as before.
Looks like we replaced `bin-wrapper` for the `download` module ([link](https://www.npmjs.com/package/download)).

We have something that in theory checks for the binary to be there so not sure why this is happening.

[2022-11-01 20:35] alexrivadeneira opened #150 "npm audit surfaces 'got' dependency vulnerability"
Hello,

My organization's project uses saucelabs and running `npm audit` surfaced a vulnerability that's a dependency of `saucelabs` (using the latest version):

[code]
(running `npm audit fix` or `npm audit --force fix` does not do anything)

Do you have any more information about this issue?